@inherits LayoutComponentBase
@inject GreenblattsMagicFormula.CoreService CoreService

<PageTitle>Greenblatts Magic Formula</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            <div class="mt-4">
                <input type="text" @bind="InputString" placeholder="Enter a string" />
                <button @onclick="ProcessString">Calculate</button>
            </div>

            @if (!string.IsNullOrEmpty(Result))
            {
                <div class="mt-2" style="font-size: 1.5em; color: darkblue; background-color: #f9f9f9; padding: 10px; border-radius: 5px; margin-top: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
                    <p>Result: @Result</p>
                </div>
            }
        </article>
    </main>
</div>

@code {
    private string InputString { get; set; } = string.Empty;
    private string Result { get; set; } = string.Empty;

    private async Task ProcessString()
    {
        if (!string.IsNullOrWhiteSpace(InputString))
        {
            Result = await CoreService.ExecuteMagicFormula(InputString); ;
        }
        else
        {
            Result = "Please enter a valid string.";
        }

        InputString = string.Empty;
        StateHasChanged(); // Explicitly notify Blazor to re-render
    }
}
